# sparks foundation
### Task2 - Prediction using Unsupervised ML

## importing required libraries

In [1]:
import pandas as pd
import sklearn as sk
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn import svm
from sklearn import metrics
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

#### reading data from file

In [2]:
iris = pd.read_csv("iris.csv")

#### show the dataset

In [3]:
iris.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
iris.tail()

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

#### infromaton of data

In [5]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

#### numerical information of data

In [6]:
iris.describe()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

#### types of fowers we have

In [7]:
iris['Species'].value_counts()

Iris-virginica     50
Iris-setosa        50
Iris-versicolor    50
Name: Species, dtype: int64

#### how many null value do we have

In [8]:
iris.isnull().sum()

Id               0
SepalLengthCm    0
SepalWidthCm     0
PetalLengthCm    0
PetalWidthCm     0
Species          0
dtype: int64

## Exploratory Data Analysis(EDA) on data set

In [ ]:
iris['SepalLengthCm'].hist()

In [ ]:
iris['SepalWidthCm'].hist()

In [ ]:
iris['PetalLengthCm'].hist()

In [ ]:
iris['PetalWidthCm'].hist()

## seprate the species and give colors

In [ ]:
colors = ['blue', 'red', 'green']
species = ['Iris-virginica','Iris-versicolor','Iris-setosa']

In [ ]:
for i in range(3):
    x = iris[iris['Species'] == species[i]]
    plt.scatter(x['SepalLengthCm'], x['SepalWidthCm'], c = colors[i], label=species[i])
plt.xlabel("Sepal Length")
plt.ylabel("Sepal Width")
plt.legend()

## spliting data into training and testing dataset

In [ ]:
X = iris.drop(columns=['Species'])
Y = iris['Species']
x_train, x_test, y_train, y_test = train_test_split(X, Y, test_size=0.30)

### creating object of model

In [ ]:
model = LogisticRegression()

### training the model with train data set

In [ ]:
model.fit(x_train, y_train)

In [ ]:
metrics.accuracy_score(pred,y_test)

## using svm model

#### creating a model

In [ ]:
model = svm.SVC()

### train model using svm model

In [ ]:
model.fit(x_train,y_train)
pred = model.predict(x_test)

### Accuracy of our model is

In [ ]:
metrics.accuracy_score(pred,y_test)

# know lets see using dession tree

#### creating a model

In [ ]:
model = DecisionTreeClassifier()

### train model using dession tree model

In [ ]:
model.fit(x_train,y_train)
pred = model.predict(x_test)

### Accuracy of our model is

In [ ]:
metrics.accuracy_score(pred,y_test)